/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 *= require_tree
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700,400italic);
body {
    font-family: 'Lato', sans-serif;
    padding-top: 70px;
    padding-top: 70px;
    // background-image: url("Fishing-HD.jpg");
    // background: #00ff00 url("Fishing-HD.jpg") no-repeat fixed center; 
    background: url(Fishing-HD.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.hide-this {
    display: none;
}

a:hover {
    text-decoration: none;
    opacity: 0.8;
}
.mainpage {
    min-height: 1000px;
    width: 100%;
    margin-top: -25px;
    padding-top: 25px;
    padding-bottom: 70px;
    background-color: rgba(255, 255, 255, 0.68);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}

.simple_form {
    width: 500px;
    padding: 30px;
    background-color: rgba(255, 255, 255, 0.68);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    margin: auto;
}
.big-btn {
    height: 120px;
    width: 90%;
    display: inline-flex;
    align-items: center; /* cross axis */
    justify-content: center; /* main axis */
    font-size: 16px;
}
.no-image {
    height: 300px;
    width: 300px;
    display: inline-flex;
    align-items: center; /* cross axis */
    justify-content: center; /* main axis */
    font-size: 16px;
}
.fish-img {
    margin: 10px;
}