<p><%= member.full_name %><br>
  <span class="small" data-toggle="tooltip" title="Total Fish Count"><%= member.fish.count %></span></p>
  <!-- HTML to write -->
<a href="#" data-toggle="tooltip" title="Some tooltip text!">Hover over me</a>

<!-- Generated markup by the plugin -->
<div class="tooltip top" role="tooltip">
  <div class="tooltip-arrow"></div>
  <div class="tooltip-inner">
    Some tooltip text!
  </div>
</div>