<h1><%= @member.full_name %></h1>
<% if @current_tournament.present? %>
<div class="col-md-8 well">
    <h2>Current Tournament: <%= @current_tournament.name %></h2>
    <%= render @member.fish.where(tournament_id: @current_tournament.id).order(created_at: :desc) %> 
</div>
<% end %>
<div class="col-md-4 well">
    <h3>All fish</h3>
    <%= render @member.fish.order(created_at: :desc) %>
</div>